.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background: linear-gradient(135deg, #3b0d7d, #9333ea);
  color: white;
  /* border-radius: 18px; */
  overflow: hidden;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}
th,
td {
  padding: 12px 16px;
  text-align: center;
  border: 3px solid #8093ab;
}
th {
  background-color: #1f2937;
  font-size: 18px;
}
tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.user-row.selected,
.property-row.selected,
.reservation-row.selected {
  background-color: #0face1;
}

.user-row,
.property-row,
.reservation-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shopping-list-container {
  max-width: 750px;
  margin: auto;
  padding: 30px;
  border-radius: 18px;
  background-color: #aaa;
}

.shopping-list-container label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.item-inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.item-inputs input {
  flex: 1;
  padding: 5px;
}

#items-list {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

#items-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

#items-list li.completed span {
  text-decoration: line-through !important;
  color: #555; /* tamnija nijansa teksta */
  transition: 0.3s ease;
}

.sep {
  margin: 0 25px;
}

.item-checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  accent-color: #d4af37;
}

.totals {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
}

#save-list {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #0073e6;
  color: white;
  border: 18px;
  font-weight: bold;
}

#save-list:hover {
  opacity: 0.8;
}
